html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  user-select: none;
}

body,
#M {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: #000;
}

body {
  text-shadow: 0px 0px 8px #000, -1px -1px 3px #000, 1px 1px 3px #000;
  color: rgba(255, 255, 255, 0.9);
}

#M {
  position: relative;
  letter-spacing: 0.01em;
}

input {
  width: 1.2rem;
  height: 1.2rem;
  vertical-align: middle;
}

#V {
  width: 15em;
}

#N {
  position: absolute;
  top: 0;
}

#N {
  display: none;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(15px) contrast(200%) brightness(35%);
}

b {
  cursor: pointer;
}
b:hover {
  text-decoration: underline;
}
.X {
  opacity: 0.5;
  cursor: no-drop;
}
.X:hover {
  text-decoration: none;
}

#T {
  padding: 2px;
  bottom: 0;
  position: absolute;
}

h1,
h3 {
  margin: 0.2em;
}

small {
  display: block;
  margin: 0.55em;
}

label {
  margin: 0.4em;
}

/* target only firefox */
@-moz-document url-prefix() {
  .N #C {
    filter: blur(15px) contrast(190%) brightness(50%);
  }
}

#found-text {
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  font-size: 0.8em;
  text-align: right;
}

#found-text b {
  text-shadow: 0px 0px 3px #000;
}

.N #T,
.N #screen,
.N #found-text,
.screen #T {
  display: none;
}

.N #N {
  display: block;
}

a,
a:visited,
a:active {
  opacity: 0.6;
  font-size: 0.55em;
  color: #bbb;
}

a:hover {
  opacity: 1;
}

/* screen */

#screen {
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  display: none;
  padding: 18px;
  align-items: center;
  justify-content: center;
  text-align: left;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  opacity: 0;
  animation: fade-in 0.5s forwards;
}

.screen #screen {
  display: flex;
}

#screen1 {
  pointer-events: initial;
  position: relative;
  border: 60px solid #3a3a3a;
  background: #3a3a3a;
  box-shadow: 0px 0px 1.5px 1.5px #222;
  border-radius: 16px;
  width: 1280px;
  height: 750px;
  max-width: 100%;
  max-height: 100%;
  transform: translateY(120%);
  animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
  100% {
    transform: translateY(0%);
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

#screen1::before {
  pointer-events: none;
  content: ' ';
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.8);
}

#screen2 {
  overflow: auto;
  color: #8fa;
  font-family: monospace, 'Courier New', Courier;
  font-size: 16.5px;
  height: 100%;
  border: 5px inset #444;
  background: #001500;
  border-radius: 8px;
  box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.8);
}

#bioc {
  padding: 16px;
  max-width: 100%;
  min-height: 100%;
  text-shadow: 0px 0px 2px rgba(136, 255, 170, 0.1), -1px -1px 2px rgba(136, 255, 170, 0.1),
    1px 1px 2px rgba(136, 255, 170, 0.2);
}

@media (min-width: 900px) {
  #bioc {
    display: flex;
  }
}

#biot {
  flex: 1 1 50%;
  padding-right: 16px;
}

#biot ul {
  margin: 6px 0 0 0;
  padding-bottom: 2px;
}

#bioi {
  max-width: 500px;
  flex: 1 1 49%;
  padding-top: 1.05em;
}

#bioi img {
  width: 100%;
  border: 5px solid #4b6;
}

.k {
  border-bottom: 2px solid #4b6;
  padding-bottom: 4px;
  margin-bottom: 4px;
}

.k i {
  font-style: normal;
}

#blink {
  display: inline-block;
  background: #8fa;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#led {
  position: absolute;
  bottom: -52px;
  left: 50%;
  margin: 20px auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: #000 0 -1px 6px 1px;
  background-color: #0f0;
  box-shadow: #000 0 -1px 6px 1px, inset #060 0 -1px 8px, #0f0 0 3px 11px;
}

#disks button {
  display: inline-block;
  background: none;
  padding: 1px;
  margin: 0 10px 0 0;
  font-size: 1em;
  border: none;
  opacity: 1;
  cursor: no-drop;
  position: relative;
  opacity: 0.9;
  transition: 0.2s opacity;
}

#disks button.collected {
  cursor: pointer;
  text-shadow: 0px 0px 3px rgba(220, 255, 255, 0.5), -1px -1px 3px rgba(220, 255, 255, 0.5),
    1px 1px 3px rgba(220, 255, 255, 0.5);
  opacity: 0.8;
}

#disks button.collected:hover {
  opacity: 1;
  text-shadow: 0px 0px 3px rgba(220, 255, 255, 0.6), -1px -1px 3px rgba(220, 255, 255, 0.6),
    1px 1px 3px rgba(220, 255, 255, 0.6);
}
